@page "/employee/search"
<h3>Search Employee</h3>
<div class="form-inline">

</div>

       
@code {
    string title = "";
    string selectedEmployee = "0";
    bool upcomingRelease = false;
    bool inTheaters = false;
    private List<Employee> Em = new List<Employee>();


}
